<%- include('header'); -%>
<body>
    <div>
        <p id="email">manager@yahoo.com</p>
        <div class="nav navbar-nav navbar-right">
            <div class="search-container">
            <input type="text" placeholder="Search.." name="search">
            </div>
            <button type="submit">Submit</button></input>
        </div> 
    </div>
    <a href="/task_form"><input type="button" name="create_task" id="create_task" class="button2" value="Create task"></input></a>
    <table activity="/home_manager">
        <thead>
            <tr>
                <th scope="col">Nume task</th>
                <th scope="col">Data inceput</th>
                <th scope="col">Data final</th>
                <th scope="col">Descriere</th>
                <th width="200px"></th>
            </tr>
            <% if(tasks.length === 0) { %>
                <h4 class= 'font-weight-light text-muted font-italic'> The list it's empty right now.</h4>
                <% } %>
            <% for(var i = 0 ; i < tasks.length; i++) { %>
                <tr>
                    <td><%= tasks[i].Nume %></td>
                </tr>>
                <% } %>
        </thead>
    </table>
</body>

<%- include ('footer'); -%>