<%- include('header'); -%>
<body>
    <div>
        <p>manager@yahoo.com</p>
        <div class="nav navbar-nav navbar-right">
            <div class="search-container">
            <input type="text" placeholder="Search.." name="search">
            </div>
            <button type="submit">Submit</button></input>
        </div> 
    </div>
    <a href="/task_form"><input type="button" name="create_task" id="create_task" class="button2" value="Create task"></input></a>
    <table activity="/home_manager">
        <tr>
            <th>Nume task</th>
            <th>Data inceput</th>
            <th>Data final</th>
            <th>Descriere</th>
            <th></th>
        </tr>
        
    </table>
</body>

<%- include ('footer'); -%>