                      
<div class="form-popup" id="myForm">                            
    <form class="form-container">                        
        <h1>Skills</h1>                                
        <div>            
            <label for="skill"></label>
            <input type="text" placeholder="Enter Skill" name="skill" id="skill" >                            
            <form action="/action_page.php">                            
                <input list="browser" name="nivel" id="nivel">                            
                <datalist id="browser">                    
                    <option value="Beginer">                
                        <option value="Intermediar">                
                            <option value="Expert">                
                            </datalist>                
                        </form>            
                    </div>        
                    <button type="submit" action="/skills" class="btn">Save</button>        
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>                
                </form>                
            </div>

            
<script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }
                
        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
</script>